header, body, ul, 
li, img, input, 
span, div, main{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}